h1{
  color: coral;
  text-align: center;
  display: block;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
}
*{
  box-sizing: border-box;
  font-family : arial;
}

.p{
  border: 1px solid blue;
  background-color:yellow;
  width: 90%;
  margin-right: 0;
  margin-left: 0;
  color: black;
  margin-bottom: 20px;
  padding: 15px;
}
.row{
  width: 100%;
  margin-left: 40px;
}
.t1 , .t2 , .t3{
  border : 1px solid green;
  padding : 5px;
  text-align: center;
  background-color: greenyellow;
  color: black;
  margin-bottom:20px;
  float: right;
  margin-top: 0;
  position: relative;
  bottom:15px;
  left:15px;
}
@media(min-width: 992px){
  .col-lg-4{
    width:33%;
    float: left;
  }
  .t1{
    background-color: hotpink;
    font-weight: 700;
    width:110px;
    height: 30px;
    padding-top: 5px;
   
  }
  .t2{
    background-color: greenyellow;
    font-weight: 600;
    height: 30px;
    padding-top: 5px;
  }
  .t3{
    background-color:royalblue;
    font-weight:800;
    height: 30px;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .col-md-6{
    float: left;
    width:47.33%;
    margin-bottom:10px;
  }
    .col-md-12{
    width: 100%;
    margin-top: 20px;
      float: left;
  }
  .t1{
    background-color: hotpink;
    font-weight: 700;
    width: 120px;
    height: 30px;
    padding-top: 5px;
  }
  .t2{
    background-color: greenyellow;
    font-weight: 600;
    height: 30px;
    padding-top: 5px;
  }
  .t3{
    background-color:royalblue;
    font-weight:800;
    height: 30px;
  }
}
